body{
    background:url('background.jpg') no-repeat center center fixed;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size: cover;
    background-size: cover;
}

.container {
    background-color: #FFF;
    padding-top: 30px;
    padding-bottom: 80px;
    box-shadow: rgb(0 0 0 / 50%) 0px 0px 10px;
}